[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
urwid = {path = "./urwid"}
nbformat = "*"
jupyter-client = "*"
nbclient = "*"

[requires]
python_version = "3.8"
